<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>volcanic</key>
	<dict>
		<key>no</key>
		<integer>1</integer>
		<key>title</key>
		<string>火山</string>
		<key>brief</key>
		<string>火山在喷发之前常常活动增加，伴有隆隆声和蒸气与气体的溢</string>
		<key>html</key>
		<string>volcanic_note</string>
		<key>logo</key>
		<string>volcanic_logo.png</string>
	</dict>
	<key>quake</key>
	<dict>
		<key>no</key>
		<integer>2</integer>
		<key>title</key>
		<string>地震</string>
		<key>brief</key>
		<string>地下水包括井水、泉水等。主要异常有发浑、冒泡、翻花、升温、变色、变味、突升、突降</string>
		<key>html</key>
		<string>quake_note</string>
		<key>logo</key>
		<string>quake_logo.png</string>
	</dict>
	<key>waterflood</key>
	<dict>
		<key>no</key>
		<integer>3</integer>
		<key>title</key>
		<string>洪水</string>
		<key>brief</key>
		<string>当天气预报连续报有暴雨或大暴雨时，居住在河谷、低洼地带，</string>
		<key>html</key>
		<string>waterflood_note</string>
		<key>logo</key>
		<string>waterflood_logo.png</string>
	</dict>
	<key>exposure</key>
	<dict>
		<key>no</key>
		<integer>4</integer>
		<key>title</key>
		<string>辐射</string>
		<key>brief</key>
		<string>尽快撤离被辐射的地区。通常政府会告诉我们哪些区域已经被辐射，</string>
		<key>html</key>
		<string>exposure_note</string>
		<key>logo</key>
		<string>exposure_logo.png</string>
	</dict>
	<key>tsunami</key>
	<dict>
		<key>no</key>
		<integer>5</integer>
		<key>title</key>
		<string>海啸</string>
		<key>brief</key>
		<string>通俗来讲：鱼儿抢滩，海水翻滚。深海鱼浮上海滩等征兆可预报海啸。</string>
		<key>html</key>
		<string>tsunami_note</string>
		<key>logo</key>
		<string>tsunami_logo.png</string>
	</dict>
	<key>zombie</key>
	<dict>
		<key>no</key>
		<integer>6</integer>
		<key>title</key>
		<string>丧尸</string>
		<key>brief</key>
		<string>行尸走肉丧尸围城在现实中并非不可能发生，病毒、细菌感染、化学毒剂扩散、</string>
		<key>html</key>
		<string>zombie_note</string>
		<key>logo</key>
		<string>zombie_logo.png</string>
	</dict>
	<key>sonwslide</key>
	<dict>
		<key>no</key>
		<integer>7</integer>
		<key>title</key>
		<string>雪崩</string>
		<key>brief</key>
		<string>判断当时形势。出于本能，会直朝山下跑，但冰雪也向山下崩落。而且时速达到200公里。向</string>
		<key>html</key>
		<string>sonwslide_note</string>
		<key>logo</key>
		<string>snowslide_logo.png</string>
	</dict>
	<key>mudrockflow</key>
	<dict>
		<key>no</key>
		<integer>8</integer>
		<key>title</key>
		<string>泥石流</string>
		<key>brief</key>
		<string>泥石流来临前，一般会出现巨大的响声、沟槽断流和沟水变浑等现象。</string>
		<key>html</key>
		<string>mudrockflow_note</string>
		<key>logo</key>
		<string>mudrockflow_logo.png</string>
	</dict>
</dict>
</plist>
