<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>d1</key>
	<dict>
		<key>no</key>
		<integer>1</integer>
		<key>title</key>
		<string>d1</string>
		<key>brief</key>
		<string>desc</string>
		<key>html</key>
		<string>d1</string>
		<key>logo</key>
		<string></string>
	</dict>
	<key>d2</key>
	<dict>
		<key>no</key>
		<integer>2</integer>
		<key>title</key>
		<string>d2</string>
		<key>brief</key>
		<string>desc</string>
		<key>html</key>
		<string>d2</string>
		<key>logo</key>
		<string></string>
	</dict>
	<key>d3</key>
	<dict>
		<key>no</key>
		<integer>3</integer>
		<key>title</key>
		<string>d3</string>
		<key>brief</key>
		<string>desc</string>
		<key>html</key>
		<string>d3</string>
		<key>logo</key>
		<string></string>
	</dict>
	<key>d4</key>
	<dict>
		<key>no</key>
		<integer>4</integer>
		<key>title</key>
		<string>d4</string>
		<key>brief</key>
		<string>desc</string>
		<key>html</key>
		<string>d4</string>
		<key>logo</key>
		<string></string>
	</dict>
	<key>d5</key>
	<dict>
		<key>no</key>
		<integer>5</integer>
		<key>title</key>
		<string>d5</string>
		<key>brief</key>
		<string>desc</string>
		<key>html</key>
		<string>d5</string>
		<key>logo</key>
		<string></string>
	</dict>
	<key>d6</key>
	<dict>
		<key>no</key>
		<integer>6</integer>
		<key>title</key>
		<string>d6</string>
		<key>brief</key>
		<string>desc</string>
		<key>html</key>
		<string>d6</string>
		<key>logo</key>
		<string></string>
	</dict>
	<key>d7</key>
	<dict>
		<key>no</key>
		<integer>7</integer>
		<key>title</key>
		<string>d7</string>
		<key>brief</key>
		<string>desc</string>
		<key>html</key>
		<string>d7</string>
		<key>logo</key>
		<string></string>
	</dict>
	<key>d8</key>
	<dict>
		<key>no</key>
		<integer>8</integer>
		<key>title</key>
		<string>d8</string>
		<key>brief</key>
		<string>desc</string>
		<key>html</key>
		<string>d8</string>
		<key>logo</key>
		<string></string>
	</dict>
	<key>d9</key>
	<dict>
		<key>no</key>
		<integer>9</integer>
		<key>title</key>
		<string>d9</string>
		<key>brief</key>
		<string>desc</string>
		<key>html</key>
		<string>d9</string>
		<key>logo</key>
		<string></string>
	</dict>
	<key>d10</key>
	<dict>
		<key>no</key>
		<integer>10</integer>
		<key>title</key>
		<string>d10</string>
		<key>brief</key>
		<string>d10 desc</string>
		<key>html</key>
		<string>d10</string>
		<key>logo</key>
		<string></string>
	</dict>
</dict>
</plist>
