<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>manual</key>
	<dict>
		<key>no</key>
		<integer>1</integer>
		<key>label</key>
		<string>manual</string>
		<key>name</key>
		<string>野外手册</string>
		<key>price</key>
		<string> ¥28.0</string>
		<key>logo_url</key>
		<string>http://img01.taobaocdn.com/bao/uploaded/i5/T1wjNoXhpmXXcVjIUV_020114.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://a.m.taobao.com/i3960899967.htm?sid=45d5304d70fe7f0beb78637e1e085ad3&amp;ali_trackid=2:mm_10629908_0_0:1340085069_3z4_1844594150</string>
	</dict>
	<key>compass</key>
	<dict>
		<key>no</key>
		<integer>2</integer>
		<key>label</key>
		<string>compass</string>
		<key>name</key>
		<string>指南针</string>
		<key>price</key>
		<string> ¥56.80</string>
		<key>logo_url</key>
		<string>http://img04.taobaocdn.com/bao/uploaded/i4/T1QvfdXiJXXXceY4wV_020708.jpg_sum.jpg</string>
		<key>item_url</key>
		<string>http://a.m.tmall.com/i8982328806.htm?sid=1dd1f1d30ea4cbcb&amp;ali_trackid=2:mm_10629908_0_0:1340084595_4k1_1083254062</string>
	</dict>
	<key>knife</key>
	<dict>
		<key>no</key>
		<integer>3</integer>
		<key>label</key>
		<string>knife</string>
		<key>name</key>
		<string>小刀</string>
		<key>price</key>
		<string> ¥138.00</string>
		<key>logo_url</key>
		<string>http://img03.taobaocdn.com/imgextra/i3/475413868/T2vgpZXd8bXXXXXXXX_!!475413868.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://a.m.taobao.com/i12952595737.htm?sid=45d5304d70fe7f0beb78637e1e085ad3&amp;ali_trackid=2:mm_10629908_0_0:1340085425_4k2_863567219</string>
	</dict>
	<key>firstaidcase</key>
	<dict>
		<key>no</key>
		<integer>4</integer>
		<key>label</key>
		<string>firstaidcase</string>
		<key>name</key>
		<string>急救箱</string>
		<key>price</key>
		<string>¥56.00</string>
		<key>logo_url</key>
		<string>http://img03.taobaocdn.com/imgextra/i3/T1ANi9XcluXXXg9MoT_011700.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://a.m.taobao.com/i17473860147.htm?sid=45d5304d70fe7f0beb78637e1e085ad3&amp;ali_trackid=2:mm_10629908_0_0:1340085544_3z5_745457541</string>
	</dict>
	<key>rope</key>
	<dict>
		<key>no</key>
		<integer>5</integer>
		<key>label</key>
		<string>rope</string>
		<key>name</key>
		<string>急救绳</string>
		<key>price</key>
		<string>¥40.00</string>
		<key>logo_url</key>
		<string>http://img01.taobaocdn.com/bao/uploaded/i1/T1GIl7XnlXXXXcjpg__105155.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://a.m.taobao.com/i15643123103.htm?sid=45d5304d70fe7f0beb78637e1e085ad3&amp;ali_trackid=2:mm_10629908_0_0:1340086669_4z6_1834663569</string>
	</dict>
	<key>whistle</key>
	<dict>
		<key>no</key>
		<integer>6</integer>
		<key>label</key>
		<string>whistle</string>
		<key>name</key>
		<string>高频哨</string>
		<key>price</key>
		<string>¥2.00</string>
		<key>logo_url</key>
		<string>http://img03.taobaocdn.com/bao/uploaded/i3/T1HrWkXahfXXbAK_Q9_104701.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://a.m.tmall.com/i12379301977.htm?sid=45d5304d70fe7f0beb78637e1e085ad3&amp;ali_trackid=2:mm_10629908_0_0:1340086823_3k1_59798008</string>
	</dict>
	<key>blanket</key>
	<dict>
		<key>no</key>
		<integer>7</integer>
		<key>label</key>
		<string>blanket</string>
		<key>name</key>
		<string>地震急救毯</string>
		<key>price</key>
		<string>¥1.79</string>
		<key>logo_url</key>
		<string>http://img01.taobaocdn.com/bao/uploaded/i5/T1e.i4XeNmXXaprCQT_012807.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://a.m.taobao.com/i14953487833.htm?sid=45d5304d70fe7f0beb78637e1e085ad3&amp;ali_trackid=2:mm_10629908_0_0:1340088082_4z1_576041705</string>
	</dict>
	<key>sleeping</key>
	<dict>
		<key>no</key>
		<integer>8</integer>
		<key>label</key>
		<string>sleeping</string>
		<key>name</key>
		<string>睡袋</string>
		<key>price</key>
		<string>¥54.88</string>
		<key>logo_url</key>
		<string>http://img04.taobaocdn.com/bao/uploaded/i8/T1Jme0XbVhXXbYI.w__081016.jpg_80x80.jpg</string>
		<key>item_url</key>
		<string>http://a.m.taobao.com/i14120513495.htm?sid=45d5304d70fe7f0beb78637e1e085ad3&amp;ali_trackid=2:mm_10629908_0_0:1340088167_4z5_84206770</string>
	</dict>
	<key>hovership</key>
	<dict>
		<key>no</key>
		<integer>9</integer>
		<key>label</key>
		<string>hovership</string>
		<key>name</key>
		<string>气垫船</string>
		<key>price</key>
		<string>¥199.00</string>
		<key>logo_url</key>
		<string>http://img03.taobaocdn.com/imgextra/i3/T1N0G3XelrXXbTb4IW_023647.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://a.m.taobao.com/i14885811234.htm?sid=45d5304d70fe7f0beb78637e1e085ad3&amp;ali_trackid=2:mm_10629908_0_0:1340088326_4z5_937193032</string>
	</dict>
	<key>kettle</key>
	<dict>
		<key>no</key>
		<integer>10</integer>
		<key>label</key>
		<string>kettle</string>
		<key>name</key>
		<string>户外水壶</string>
		<key>price</key>
		<string>¥58.90</string>
		<key>logo_url</key>
		<string>http://img02.taobaocdn.com/bao/uploaded/i2/T16fWZXmlhXXaWpmja_122240.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://a.m.tmall.com/i12308146223.htm?v=0&amp;sid=45d5304d70fe7f0beb78637e1e085ad3&amp;ali_trackid=2:mm_10629908_0_0:1340091697_3z5_1366204027</string>
	</dict>
	<key>lighter</key>
	<dict>
		<key>no</key>
		<integer>11</integer>
		<key>label</key>
		<string>lighter</string>
		<key>name</key>
		<string>户外手电</string>
		<key>price</key>
		<string>¥25.00</string>
		<key>logo_url</key>
		<string>http://img01.taobaocdn.com/imgextra/i1/616119579/T2mK9qXoRaXXXXXXXX_!!616119579.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://a.m.tmall.com/i14578667336.htm?v=0&amp;sid=45d5304d70fe7f0beb78637e1e085ad3&amp;ali_trackid=2:mm_10629908_0_0:1340089250_4z4_498325475</string>
	</dict>
	<key>fire</key>
	<dict>
		<key>no</key>
		<integer>12</integer>
		<key>label</key>
		<string>fire</string>
		<key>name</key>
		<string>户外打火机</string>
		<key>price</key>
		<string>¥10.56</string>
		<key>logo_url</key>
		<string>http://img04.taobaocdn.com/bao/uploaded/i4/T1ucXUXmtcXXb1RcU9_102705.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://a.m.tmall.com/i8723431953.htm?v=0&amp;sid=45d5304d70fe7f0beb78637e1e085ad3&amp;ali_trackid=2:mm_10629908_0_0:1340089345_4z6_183804534</string>
	</dict>
	<key>battery</key>
	<dict>
		<key>no</key>
		<integer>13</integer>
		<key>label</key>
		<string>battery</string>
		<key>name</key>
		<string>电池宝</string>
		<key>price</key>
		<string>¥150.00</string>
		<key>logo_url</key>
		<string>http://img02.taobaocdn.com/bao/uploaded/i2/T1lTGAXjxpXXX7OG2b_122840.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://a.m.tmall.com/i8543554832.htm?v=0&amp;sid=45d5304d70fe7f0beb78637e1e085ad3&amp;ali_trackid=2:mm_10629908_0_0:1340089418_4z3_668357159</string>
	</dict>
	<key>food</key>
	<dict>
		<key>no</key>
		<integer>14</integer>
		<key>label</key>
		<string>food</string>
		<key>name</key>
		<string>干粮</string>
		<key>price</key>
		<string>¥7.00</string>
		<key>logo_url</key>
		<string>http://img03.taobaocdn.com/bao/uploaded/i3/T1mlDfXXFmXXbPKbgU_013655.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://a.m.taobao.com/i16266216709.htm?sid=45d5304d70fe7f0beb78637e1e085ad3&amp;ali_trackid=2:mm_10629908_0_0:1340089511_3z7_930753176</string>
	</dict>
	<key>telescope</key>
	<dict>
		<key>no</key>
		<integer>15</integer>
		<key>label</key>
		<string>telescope</string>
		<key>name</key>
		<string>望远镜</string>
		<key>price</key>
		<string>¥138.60</string>
		<key>logo_url</key>
		<string>http://img03.taobaocdn.com/bao/uploaded/i7/T1y75YXi0lXXcwVOrX_115518.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://item.taobao.com/item.htm?id=13083059524&amp;ali_trackid=2:mm_10629908_0_0:1340089617_4k2_469166601</string>
	</dict>
	<key>match</key>
	<dict>
		<key>no</key>
		<integer>16</integer>
		<key>label</key>
		<string>match</string>
		<key>name</key>
		<string>防水火柴</string>
		<key>price</key>
		<string>¥15.00</string>
		<key>logo_url</key>
		<string>http://img02.taobaocdn.com/bao/uploaded/i2/T1yJOKXdFAXXX1WQ74_053645.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://a.m.tmall.com/i5783996419.htm?v=0&amp;sid=45d5304d70fe7f0beb78637e1e085ad3&amp;ali_trackid=2:mm_10629908_0_0:1340090120_3z5_1850812342</string>
	</dict>
	<key>power</key>
	<dict>
		<key>no</key>
		<integer>17</integer>
		<key>label</key>
		<string>power</string>
		<key>name</key>
		<string>太阳能发电机</string>
		<key>price</key>
		<string>¥128.00</string>
		<key>logo_url</key>
		<string>http://img01.taobaocdn.com/bao/uploaded/i1/T1PRezXntGXXclez.V_021331.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://a.m.taobao.com/i14082948234.htm?sid=45d5304d70fe7f0beb78637e1e085ad3&amp;ali_trackid=2:mm_10629908_0_0:1340090421_4z2_1613416775</string>
	</dict>
	<key>bag</key>
	<dict>
		<key>no</key>
		<integer>18</integer>
		<key>label</key>
		<string>bag</string>
		<key>name</key>
		<string>户外背包</string>
		<key>price</key>
		<string>¥296.80</string>
		<key>logo_url</key>
		<string>http://img04.taobaocdn.com/bao/uploaded/i4/T1H2i0XkdsXXbe6oI1_042612.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://a.m.tmall.com/i12636238388.htm?sid=45d5304d70fe7f0beb78637e1e085ad3&amp;ali_trackid=2:mm_10629908_0_0:1340090549_4k2_1275930333</string>
	</dict>
	<key>condom</key>
	<dict>
		<key>no</key>
		<integer>19</integer>
		<key>label</key>
		<string>condom</string>
		<key>name</key>
		<string>避孕套</string>
		<key>price</key>
		<string>¥12.77</string>
		<key>logo_url</key>
		<string>http://img03.taobaocdn.com/bao/uploaded/i3/T1neK7XfliXXaLooQ9_075116.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://a.m.taobao.com/i13212401925.htm?sid=45d5304d70fe7f0beb78637e1e085ad3&amp;ali_trackid=2:mm_10629908_0_0:1340090737_3z1_1592555581</string>
	</dict>
	<key>shoe</key>
	<dict>
		<key>no</key>
		<integer>20</integer>
		<key>label</key>
		<string>shoe</string>
		<key>name</key>
		<string>登山鞋</string>
		<key>price</key>
		<string>¥98.00</string>
		<key>logo_url</key>
		<string>http://img01.taobaocdn.com/bao/uploaded/i1/T1IXrfXedoXXaVbM31_041319.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://a.m.taobao.com/i13472003316.htm?sid=45d5304d70fe7f0beb78637e1e085ad3&amp;ali_trackid=2:mm_10629908_0_0:1340090931_4k2_592003405</string>
	</dict>
	<key>sapper</key>
	<dict>
		<key>no</key>
		<integer>21</integer>
		<key>label</key>
		<string>sapper</string>
		<key>name</key>
		<string>工兵铲</string>
		<key>price</key>
		<string>¥14.40</string>
		<key>logo_url</key>
		<string>http://img04.taobaocdn.com/bao/uploaded/i4/T1BeSMXhpaXXbGETZT_012941.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://a.m.tmall.com/i9139711007.htm?v=0&amp;sid=45d5304d70fe7f0beb78637e1e085ad3&amp;ali_trackid=2:mm_10629908_0_0:1340090988_4z4_161036703</string>
	</dict>
	<key>radio</key>
	<dict>
		<key>no</key>
		<integer>22</integer>
		<key>label</key>
		<string>radio</string>
		<key>name</key>
		<string>收音机</string>
		<key>price</key>
		<string>¥88.00</string>
		<key>logo_url</key>
		<string>http://img02.taobaocdn.com/imgextra/i2/689731377/T25ClgXcNNXXXXXXXX_!!689731377.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://a.m.tmall.com/i13861968180.htm?v=0&amp;sid=45d5304d70fe7f0beb78637e1e085ad3&amp;ali_trackid=2:mm_10629908_0_0:1340091103_3z5_351755870</string>
	</dict>
	<key>armknife</key>
	<dict>
		<key>no</key>
		<integer>23</integer>
		<key>label</key>
		<string>armknife</string>
		<key>name</key>
		<string>军刀卡</string>
		<key>price</key>
		<string>¥1.16</string>
		<key>logo_url</key>
		<string>http://img02.taobaocdn.com/bao/uploaded/i2/T17d4PXhtFXXcwKBk9_074356.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://a.m.taobao.com/i3014584132.htm?sid=45d5304d70fe7f0beb78637e1e085ad3&amp;ali_trackid=2:mm_10629908_0_0:1340091193_4z7_1149407205</string>
	</dict>
	<key>axe</key>
	<dict>
		<key>no</key>
		<integer>24</integer>
		<key>label</key>
		<string>axe</string>
		<key>name</key>
		<string>开山斧</string>
		<key>price</key>
		<string>¥36.00</string>
		<key>logo_url</key>
		<string>http://img02.taobaocdn.com/imgextra/i2/24985234/T2N3t6Xe4XXXXXXXXX_!!24985234.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://a.m.taobao.com/i10763282408.htm?sid=45d5304d70fe7f0beb78637e1e085ad3&amp;ali_trackid=2:mm_10629908_0_0:1340091325_4z2_637702901</string>
	</dict>
	<key>rescureme</key>
	<dict>
		<key>no</key>
		<integer>1</integer>
		<key>label</key>
		<string>resQme</string>
		<key>name</key>
		<string>破窗器</string>
		<key>price</key>
		<string>¥55.00</string>
		<key>logo_url</key>
		<string>http://img01.taobaocdn.com/imgextra/i1/73879693/T2JU4ZXjXcXXXXXXXX_!!73879693.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://item.taobao.com/item.htm?id=18478468147&amp;ali_trackid=2:mm_25004918_0_0:1343104647_3k2_127076752</string>
	</dict>
</dict>
</plist>
