<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>manual</key>
	<dict>
		<key>no</key>
		<integer>1</integer>
		<key>label</key>
		<string>manual</string>
		<key>name</key>
		<string>野外手册</string>
		<key>price</key>
		<string> ¥28.0</string>
		<key>logo_url</key>
		<string>http://img01.taobaocdn.com/bao/uploaded/i5/T1wjNoXhpmXXcVjIUV_020114.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTbjlHMAhguRO9cBpmSaoVFTHiclybBr8OdRo%3D&amp;p=mm_10629908_0_0</string>
	</dict>
	<key>compass</key>
	<dict>
		<key>no</key>
		<integer>2</integer>
		<key>label</key>
		<string>compass</string>
		<key>name</key>
		<string>指南针</string>
		<key>price</key>
		<string> ¥56.80</string>
		<key>logo_url</key>
		<string>http://img04.taobaocdn.com/bao/uploaded/i4/T1QvfdXiJXXXceY4wV_020708.jpg_sum.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTZTY89q3fEG6tjadXz4g36VFRkQN5UBPxxRV3&amp;p=mm_10629908_0_0</string>
	</dict>
	<key>knife</key>
	<dict>
		<key>no</key>
		<integer>3</integer>
		<key>label</key>
		<string>knife</string>
		<key>name</key>
		<string>小刀</string>
		<key>price</key>
		<string> ¥138.00</string>
		<key>logo_url</key>
		<string>http://img03.taobaocdn.com/imgextra/i3/475413868/T2vgpZXd8bXXXXXXXX_!!475413868.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTbIKq9wQlGVPR7l7kYTgID0XioarzQVi2vrP0XQ%3D%3D&amp;p=mm_10629908_0_0</string>
	</dict>
	<key>firstaidcase</key>
	<dict>
		<key>no</key>
		<integer>4</integer>
		<key>label</key>
		<string>firstaidcase</string>
		<key>name</key>
		<string>急救箱</string>
		<key>price</key>
		<string>¥56.00</string>
		<key>logo_url</key>
		<string>http://img03.taobaocdn.com/imgextra/i3/T1ANi9XcluXXXg9MoT_011700.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTbIceqCPZJgDwUM%2Fqzo1hKD7oicEJtO2FjNBSbA%3D%3D&amp;p=mm_10629908_0_0</string>
	</dict>
	<key>rope</key>
	<dict>
		<key>no</key>
		<integer>5</integer>
		<key>label</key>
		<string>rope</string>
		<key>name</key>
		<string>急救绳</string>
		<key>price</key>
		<string>¥38.00</string>
		<key>logo_url</key>
		<string>http://img01.taobaocdn.com/bao/uploaded/i1/T1GIl7XnlXXXXcjpg__105155.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTbIWYKdxHibceGXGdjZ5NTXYREHkdZVISq9jelw%3D%3D&amp;p=mm_10629908_0_0</string>
	</dict>
	<key>whistle</key>
	<dict>
		<key>no</key>
		<integer>6</integer>
		<key>label</key>
		<string>whistle</string>
		<key>name</key>
		<string>高频哨</string>
		<key>price</key>
		<string>¥2.00</string>
		<key>logo_url</key>
		<string>http://img03.taobaocdn.com/bao/uploaded/i3/T1HrWkXahfXXbAK_Q9_104701.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTbIKgdpPfiPpRcELVh5pS1S1E17Ef9uSenNZPEQ%3D%3D&amp;p=mm_10629908_0_0</string>
	</dict>
	<key>blanket</key>
	<dict>
		<key>no</key>
		<integer>7</integer>
		<key>label</key>
		<string>blanket</string>
		<key>name</key>
		<string>地震急救毯</string>
		<key>price</key>
		<string>¥1.61</string>
		<key>logo_url</key>
		<string>http://img01.taobaocdn.com/bao/uploaded/i5/T1e.i4XeNmXXaprCQT_012807.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTbIQ8QZ%2BGLkAJ1fPX3L2FtNx7Wn2ULvvOADX3YQ%3D%3D&amp;p=mm_10629908_0_0</string>
	</dict>
	<key>sleeping</key>
	<dict>
		<key>no</key>
		<integer>8</integer>
		<key>label</key>
		<string>sleeping</string>
		<key>name</key>
		<string>睡袋</string>
		<key>price</key>
		<string>¥54.88</string>
		<key>logo_url</key>
		<string>http://img04.taobaocdn.com/bao/uploaded/i8/T1Jme0XbVhXXbYI.w__081016.jpg_80x80.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTbIQ0EVGLG9Q0DNhfjFDoM7zBTXlIXNy1Hd5omw%3D%3D&amp;p=mm_10629908_0_0</string>
	</dict>
	<key>hovership</key>
	<dict>
		<key>no</key>
		<integer>9</integer>
		<key>label</key>
		<string>hovership</string>
		<key>name</key>
		<string>气垫船</string>
		<key>price</key>
		<string>¥199.00</string>
		<key>logo_url</key>
		<string>http://img03.taobaocdn.com/imgextra/i3/T1N0G3XelrXXbTb4IW_023647.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTbIQ9osn8TNmWgpAFjjRtsaC2aUNfAE5%2BNzop2g%3D%3D&amp;p=mm_10629908_0_0</string>
	</dict>
	<key>kettle</key>
	<dict>
		<key>no</key>
		<integer>10</integer>
		<key>label</key>
		<string>kettle</string>
		<key>name</key>
		<string>户外水壶</string>
		<key>price</key>
		<string>¥58.90</string>
		<key>logo_url</key>
		<string>http://img02.taobaocdn.com/bao/uploaded/i2/T16fWZXmlhXXaWpmja_122240.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTbIKgcenRygMj0nT4LFjHIk6QHP%2FCoMtoGYeACg%3D%3D&amp;p=mm_10629908_0_0</string>
	</dict>
	<key>lighter</key>
	<dict>
		<key>no</key>
		<integer>11</integer>
		<key>label</key>
		<string>lighter</string>
		<key>name</key>
		<string>户外手电</string>
		<key>price</key>
		<string>¥25.00</string>
		<key>logo_url</key>
		<string>http://img01.taobaocdn.com/imgextra/i1/616119579/T2mK9qXoRaXXXXXXXX_!!616119579.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTbIQwb0ISd6Wfe8DxHRHPw%2FS5iGeLYBZW9EB%2FCA%3D%3D&amp;p=mm_10629908_0_0</string>
	</dict>
	<key>fire</key>
	<dict>
		<key>no</key>
		<integer>12</integer>
		<key>label</key>
		<string>fire</string>
		<key>name</key>
		<string>户外打火机</string>
		<key>price</key>
		<string>¥10.56</string>
		<key>logo_url</key>
		<string>http://img04.taobaocdn.com/bao/uploaded/i4/T1ucXUXmtcXXb1RcU9_102705.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTZTgYQ4ysbm%2FOSaPEmTE82BzIGqb9RiH8UYay&amp;p=mm_10629908_0_0</string>
	</dict>
	<key>battery</key>
	<dict>
		<key>no</key>
		<integer>13</integer>
		<key>label</key>
		<string>battery</string>
		<key>name</key>
		<string>电池宝</string>
		<key>price</key>
		<string>¥150.00</string>
		<key>logo_url</key>
		<string>http://img02.taobaocdn.com/bao/uploaded/i2/T1lTGAXjxpXXX7OG2b_122840.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTZTpJhPQPDl0SohaSm2LCVkE1o0HdjtHyffA6&amp;p=mm_10629908_0_0</string>
	</dict>
	<key>food</key>
	<dict>
		<key>no</key>
		<integer>14</integer>
		<key>label</key>
		<string>food</string>
		<key>name</key>
		<string>干粮</string>
		<key>price</key>
		<string>¥7.00</string>
		<key>logo_url</key>
		<string>http://img03.taobaocdn.com/bao/uploaded/i3/T1mlDfXXFmXXbPKbgU_013655.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTbIbg0ompfG8dzcrbpyIUY5j38FS86nYNbpUF&amp;p=mm_10629908_0_0</string>
	</dict>
	<key>telescope</key>
	<dict>
		<key>no</key>
		<integer>15</integer>
		<key>label</key>
		<string>telescope</string>
		<key>name</key>
		<string>望远镜</string>
		<key>price</key>
		<string>¥138.60</string>
		<key>logo_url</key>
		<string>http://img03.taobaocdn.com/bao/uploaded/i7/T1y75YXi0lXXcwVOrX_115518.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTbIOW39ZiwQTebH%2FN8WCNIfmZCQKOdNWQ8UgsJg%3D%3D&amp;p=mm_10629908_0_0</string>
	</dict>
	<key>match</key>
	<dict>
		<key>no</key>
		<integer>16</integer>
		<key>label</key>
		<string>match</string>
		<key>name</key>
		<string>防水火柴</string>
		<key>price</key>
		<string>¥15.00</string>
		<key>logo_url</key>
		<string>http://img02.taobaocdn.com/bao/uploaded/i2/T1yJOKXdFAXXX1WQ74_053645.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTbIceqCPZJgDwUM%2Fqzo1hKD7oicEJtO2FjNBSbA%3D%3D&amp;p=mm_10629908_0_0</string>
	</dict>
	<key>power</key>
	<dict>
		<key>no</key>
		<integer>17</integer>
		<key>label</key>
		<string>power</string>
		<key>name</key>
		<string>太阳能发电机</string>
		<key>price</key>
		<string>¥128.00</string>
		<key>logo_url</key>
		<string>http://img01.taobaocdn.com/bao/uploaded/i1/T1PRezXntGXXclez.V_021331.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTbIQ1HgFAqsh5wNUpot1keLfWTYqDbpw%2BsFA%2Bkw%3D%3D&amp;p=mm_10629908_0_0</string>
	</dict>
	<key>bag</key>
	<dict>
		<key>no</key>
		<integer>18</integer>
		<key>label</key>
		<string>bag</string>
		<key>name</key>
		<string>户外背包</string>
		<key>price</key>
		<string>¥296.80</string>
		<key>logo_url</key>
		<string>http://img04.taobaocdn.com/bao/uploaded/i4/T1H2i0XkdsXXbe6oI1_042612.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTbIKlOY%2FcITmabeV8QjvpA6bYEMLjwsZSRsd7Qw%3D%3D&amp;p=mm_10629908_0_0</string>
	</dict>
	<key>condom</key>
	<dict>
		<key>no</key>
		<integer>19</integer>
		<key>label</key>
		<string>condom</string>
		<key>name</key>
		<string>避孕套</string>
		<key>price</key>
		<string>¥12.77</string>
		<key>logo_url</key>
		<string>http://img03.taobaocdn.com/bao/uploaded/i3/T1neK7XfliXXaLooQ9_075116.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTbIOU7e4PG9k%2FGxCro4X9qIGxrv89JMr%2Fee9m&amp;p=mm_10629908_0_0</string>
	</dict>
	<key>shoe</key>
	<dict>
		<key>no</key>
		<integer>20</integer>
		<key>label</key>
		<string>shoe</string>
		<key>name</key>
		<string>登山鞋</string>
		<key>price</key>
		<string>¥98.00</string>
		<key>logo_url</key>
		<string>http://img01.taobaocdn.com/bao/uploaded/i1/T1IXrfXedoXXaVbM31_041319.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTbIOSI%2BJvzGqrZZvdkq2k8Bu8zN7%2BeuZe%2FW0F&amp;p=mm_10629908_0_0</string>
	</dict>
	<key>sapper</key>
	<dict>
		<key>no</key>
		<integer>21</integer>
		<key>label</key>
		<string>sapper</string>
		<key>name</key>
		<string>工兵铲</string>
		<key>price</key>
		<string>¥14.25</string>
		<key>logo_url</key>
		<string>http://img04.taobaocdn.com/bao/uploaded/i4/T1BeSMXhpaXXbGETZT_012941.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTZPhc1FyTblgzybFuvM%2BUuJZpFrQh4mJzEthR&amp;p=mm_10629908_0_0</string>
	</dict>
	<key>radio</key>
	<dict>
		<key>no</key>
		<integer>22</integer>
		<key>label</key>
		<string>radio</string>
		<key>name</key>
		<string>收音机</string>
		<key>price</key>
		<string>¥88.00</string>
		<key>logo_url</key>
		<string>http://img02.taobaocdn.com/imgextra/i2/689731377/T25ClgXcNNXXXXXXXX_!!689731377.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTbIOePC9Jh0J2tgcQcUCVg6hDfZ3O8YrToG9rkw%3D%3D&amp;p=mm_10629908_0_0</string>
	</dict>
	<key>armknife</key>
	<dict>
		<key>no</key>
		<integer>23</integer>
		<key>label</key>
		<string>armknife</string>
		<key>name</key>
		<string>军刀卡</string>
		<key>price</key>
		<string>¥1.16</string>
		<key>logo_url</key>
		<string>http://img02.taobaocdn.com/bao/uploaded/i2/T17d4PXhtFXXcwKBk9_074356.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTbjDgX4CzDb4%2F9%2BcdOzyf9TWzLR0Ppuwhvx0%3D&amp;p=mm_10629908_0_0</string>
	</dict>
	<key>axe</key>
	<dict>
		<key>no</key>
		<integer>24</integer>
		<key>label</key>
		<string>axe</string>
		<key>name</key>
		<string>开山斧</string>
		<key>price</key>
		<string>¥36.00</string>
		<key>logo_url</key>
		<string>http://img02.taobaocdn.com/imgextra/i2/24985234/T2N3t6Xe4XXXXXXXXX_!!24985234.jpg_40x40.jpg</string>
		<key>item_url</key>
		<string>http://s.click.taobao.com/t_8?e=7HZ6jHSTbIA5l9RmfN8W5wavs71X3g3PNoN7Aa16Zurb&amp;p=mm_10629908_0_0</string>
	</dict>
</dict>
</plist>
