<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sos</key>
	<dict>
		<key>no</key>
		<integer>1</integer>
		<key>logo</key>
		<string>sos_logo.png</string>
		<key>title</key>
		<string>发SOS信号</string>
		<key>html</key>
		<string>sos_skill</string>
	</dict>
	<key>direction</key>
	<dict>
		<key>no</key>
		<integer>2</integer>
		<key>logo</key>
		<string>direction_logo.png</string>
		<key>title</key>
		<string>判断方向</string>
		<key>html</key>
		<string>direction_skill</string>
	</dict>
	<key>findwater</key>
	<dict>
		<key>no</key>
		<integer>3</integer>
		<key>logo</key>
		<string>findwater_logo.png</string>
		<key>title</key>
		<string>荒野找水</string>
		<key>html</key>
		<string>findwater_skill</string>
	</dict>
	<key>zhayin</key>
	<dict>
		<key>no</key>
		<integer>4</integer>
		<key>logo</key>
		<string>zhayin_logo.png</string>
		<key>title</key>
		<string>扎营</string>
		<key>html</key>
		<string>zhayin_skill</string>
	</dict>
	<key>fire</key>
	<dict>
		<key>no</key>
		<integer>5</integer>
		<key>logo</key>
		<string>fire_logo.png</string>
		<key>title</key>
		<string>取火</string>
		<key>html</key>
		<string>fire_skill</string>
	</dict>
	<key>rengonghuxi</key>
	<dict>
		<key>no</key>
		<integer>6</integer>
		<key>logo</key>
		<string>rengonghuxi_logo.png</string>
		<key>title</key>
		<string>人工呼吸</string>
		<key>html</key>
		<string>rengonghuxi_skill</string>
	</dict>
	<key>xinzangfusu</key>
	<dict>
		<key>no</key>
		<integer>7</integer>
		<key>logo</key>
		<string>xinzangfusu_logo.png</string>
		<key>title</key>
		<string>心脏复苏</string>
		<key>html</key>
		<string>xinzangfusu_skill</string>
	</dict>
	<key>findfood</key>
	<dict>
		<key>no</key>
		<integer>8</integer>
		<key>logo</key>
		<string>findfood_logo.png</string>
		<key>title</key>
		<string>寻找食物</string>
		<key>html</key>
		<string>findfood_skill</string>
	</dict>
	<key>findsalt</key>
	<dict>
		<key>no</key>
		<integer>9</integer>
		<key>logo</key>
		<string>findsalt_logo.png</string>
		<key>title</key>
		<string>寻找盐</string>
		<key>html</key>
		<string>findsalt_skill</string>
	</dict>
</dict>
</plist>
